.profilepic .image-wrap {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	float: left;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
}

#chartholder {
	height: 400px;
	width: 600px;
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
 !width:90%;
}

.bar text {
  fill: #fff;
}


body{
	margin:0;
	padding: 0;
}

.profilepic .image-wrap:hover {
	float: left;
	-webkit-box-shadow: 0 0 20px rgba(255, 255, 255, .6), inset 0 0 20px 
		rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 0 20px rgba(255, 255, 255, .6), inset 0 0 20px
		rgba(255, 255, 255, 1);
	box-shadow: 0 0 20px rgba(255, 255, 255, .6), inset 0 0 20px
		rgba(255, 255, 255, 1);
	-webkit-border-radius: 60em;
	-moz-border-radius: 60em;
	border-radius: 60em;
}

.CSSTableGenerator {
	padding: 0px;
	width: 1200px; !
	box-shadow: 4px 3px 2px #888888; !
	border: 1px solid #000000;
	margin: auto;
}

.CSSTableGenerator table {
	box-shadow: 4px 3px 2px #888888;
	border: 1px solid #000000; !
	border-collapse: collapse; !
	border-spacing: 0;
	width: 40%;
	height: 100%;
	margin-left: 20px;
	margin-top: 10px;
	padding: 0px;
	border-radius: 11px;
	-moz-border-radius-bottomleft: 11px;
	-webkit-border-bottom-left-radius: 11px;
	border-bottom-left-radius: 11px;
	-moz-border-radius-bottomright: 11px;
	-webkit-border-bottom-right-radius: 11px;
	border-bottom-right-radius: 11px;
	-moz-border-radius-topright: 11px;
	-webkit-border-top-right-radius: 11px;
	border-top-right-radius: 11px;
	-moz-border-radius-topleft: 11px;
	-webkit-border-top-left-radius: 11px;
	border-top-left-radius: 11px;
}



.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright: 11px;
	-webkit-border-bottom-right-radius: 11px;
	border-bottom-right-radius: 11px;
}

.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft: 11px;
	-webkit-border-top-left-radius: 11px;
	border-top-left-radius: 11px;
}

.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright: 11px;
	-webkit-border-top-right-radius: 11px;
	border-top-right-radius: 11px;
}

.CSSTableGenerator tr:last-child td:first-child, {
	-moz-border-radius-bottomleft: 11px;
	-webkit-border-bottom-left-radius: 11px;
	border-bottom-left-radius: 11px;
}

/* this is for the circles in the indicator table */
#circle {
    width: 15px;
    height: 15px;
    !background: green;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

.CSSTableGenerator td ,.mainchart label {
	vertical-align: middle;
	background: -o-linear-gradient(bottom, #aad4ff 5%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aad4ff
		), color-stop(1, #ffffff));
	background: -moz-linear-gradient(center top, #aad4ff 5%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aad4ff",
		endColorstr="#ffffff");
	background: -o-linear-gradient(top, #aad4ff, ffffff);
	background-color: #aad4ff;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	font-family: Arial;
	font-weight: normal;

	color: #000000;
}

.CSSTableGenerator tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
	border-width: 0px 0px 1px 0px;
}


.CSSTableGenerator tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td,.mainchart label {
	background: -o-linear-gradient(bottom, #007fff 5%, #0000ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007fff
		), color-stop(1, #0000ff));
	background: -moz-linear-gradient(center top, #007fff 5%, #0000ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff",
		endColorstr="#0000ff");
	background: -o-linear-gradient(top, #007fff, 0000ff);
	background-color: #007fff;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}



.CSSTableGenerator tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}

circle.background {
	stroke: grey;
	fill: #FFF;
	stroke-width: 1;
}

.axis path {
	fill: none;
	stroke: grey;
	stroke-width: 1;
}

.axisScale text {
	display: none;
}

.area {
	stroke-width: 2;
	fill-opacity: 0.3;
}

.area:hover {
	fill-opacity: 0.8;
}

.axisLabel {
	font: 14px sans-serif;
	text-transform: capitalize;
	!text-anchor: middle;
	font-weight: bold;
	fill: #333;
	stroke: none;
}

#tooltip {
	position: absolute;
	width: 220px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

h2 {
	text-align: center;
	color: #3079ed;
	margin-top: 3px;
}

.input:hover {
	border: 1px solid red;
}

.input {
	border-radius: 3px;
	width: 200px;
	height: 30px;
	border: 1px solid grey;
}

.container { 
	text-align: center;
	width: 1200px;
	background: #f7f7f7;
	box-shadow: 1px 2px 3px grey;
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 10px;
}


.mainchart{ 
	text-align: center;
	width: 1200px;
	background: #f7f7;
	box-shadow: 1px 2px 3px grey;
	margin: auto;
	padding: 20px;
}

.mainchart label{
	font-size: 14px;
	font-weight: bold;
	border-radius: 8px;
	height:65px;
	padding: 7px;
}


